* text=auto

*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pt binary
*.pth binary
*.ckpt binary
*.npz binary
